body{
    
    background-image: url("istockphoto-3.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{

   text-align: center;
    color: rgb(216, 25, 25);
}
h2{
    text-align: center;
    color: rgb(227, 27, 27);
}
label{
    text-align: center;
    color: whitesmoke;
}
input{
    text-align: center;
background-color: rgb(213, 228, 241);    
}
p{
    text-align: center;
    color: whitesmoke;
}
div.center
{
    text-align: center;
}
a{
    font-size: 17px;
    font-weight: 400;
    color: rgb(243, 165, 63);
}
a:active{
    color: rgb(12, 233, 233);
}
a:hover{
    background-color: rgb(236, 235, 237);
    color: red;
}
a:visited{
    color: blueviolet;
}