body{
    
    background-image: url("download.jfif");
    background-repeat: no-repeat;
    background-size: 200vh;
}
h1{

   text-align: center;
    color: rgb(216, 25, 25);
}
h2{
    text-align: center;
    color: rgb(227, 27, 27);
}
label{
    text-align: center;
    color: whitesmoke;
}
input{
    text-align: center;
background-color: rgb(213, 228, 241);    
}
p{
    text-align: center;
    color: whitesmoke;
}
div.center
{
    text-align: center;
}